<footer class="jumbotron">
    <div class=" text-center text-white">
      <div class="container-fluid">
          <p>
           Prueba técnica realizada con Angular 16 y bootstrap
          </p>
        <div class="text-center mb-2">
          <a href="" class="text-white me-4">
            <i class="fa fa-facebook-f"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fa fa-google"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fa fa-instagram"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fa fa-linkedin"></i>
          </a>
          <a href="https://github.com/Alvaro-78/quasar_dynamics" class="text-white me-4">
            <i class="fa fa-github"></i>
          </a>
        </div>
      </div>
      Álvaro Aguerré Navarrete
    </div>
</footer>
